{% extends 'base.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    <h1>Status index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IsDeleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.position }}</td>
                <td>{{ status.createdAt ? status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ status.updatedAt ? status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ status.isDeleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_status_show', {'id': status.id}) }}">show</a>
                    <a href="{{ path('app_status_edit', {'id': status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_status_new') }}">Create new</a>
{% endblock %}
