{% extends 'base.html.twig' %}

{% block title %}Status{% endblock %}

{% block body %}
    <h1>Status</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ status.position }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ status.createdAt ? status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ status.updatedAt ? status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ status.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_status_index') }}">back to list</a>

    <a href="{{ path('app_status_edit', {'id': status.id}) }}">edit</a>

    {{ include('status/_delete_form.html.twig') }}
{% endblock %}
