{% extends 'base.html.twig' %}

{% block title %}Countries index{% endblock %}

{% block body %}
    <h1>Countries index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>IsDeleted</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>{{ country.createdAt ? country.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ country.isDeleted ? 'Yes' : 'No' }}</td>
                <td>{{ country.updatedAt ? country.updatedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_countries_show', {'id': country.id}) }}">show</a>
                    <a href="{{ path('app_countries_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_countries_new') }}">Create new</a>
{% endblock %}
