{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <h1>Countries</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ country.createdAt ? country.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ country.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ country.updatedAt ? country.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_countries_index') }}">back to list</a>

    <a href="{{ path('app_countries_edit', {'id': country.id}) }}">edit</a>

    {{ include('countries/_delete_form.html.twig') }}
{% endblock %}
