{% extends 'base.html.twig' %}

{% block title %}Edit ColorProduct{% endblock %}

{% block body %}
    <h1>Edit ColorProduct</h1>

    {{ include('color_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_color_product_index') }}">back to list</a>

    {{ include('color_product/_delete_form.html.twig') }}
{% endblock %}
