{% extends 'base.html.twig' %}

{% block title %}ColorProduct index{% endblock %}

{% block body %}
    <h1>ColorProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IsDeleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color_product in color_products %}
            <tr>
                <td>{{ color_product.id }}</td>
                <td>{{ color_product.createdAt ? color_product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ color_product.updatedAt ? color_product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ color_product.isDeleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_color_product_show', {'id': color_product.id}) }}">show</a>
                    <a href="{{ path('app_color_product_edit', {'id': color_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_color_product_new') }}">Create new</a>
{% endblock %}
