{% extends 'base.html.twig' %}

{% block title %}New ColorProduct{% endblock %}

{% block body %}
    <h1>Create new ColorProduct</h1>

    {{ include('color_product/_form.html.twig') }}

    <a href="{{ path('app_color_product_index') }}">back to list</a>
{% endblock %}
