{% extends 'base.html.twig' %}

{% block title %}ColorProduct{% endblock %}

{% block body %}
    <h1>ColorProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ color_product.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ color_product.createdAt ? color_product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ color_product.updatedAt ? color_product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ color_product.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_color_product_index') }}">back to list</a>

    <a href="{{ path('app_color_product_edit', {'id': color_product.id}) }}">edit</a>

    {{ include('color_product/_delete_form.html.twig') }}
{% endblock %}
