{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <h1>Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ detail.quantity }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ detail.createdAt ? detail.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ detail.updatedAt ? detail.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ detail.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_details_index') }}">back to list</a>

    <a href="{{ path('app_details_edit', {'id': detail.id}) }}">edit</a>

    {{ include('details/_delete_form.html.twig') }}
{% endblock %}
