<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container">

			{% block nav %}
				{{ include("nav.html.twig") }}
			{% endblock %}

			{% for flash in app.flashes('success') %}
				<div class="alert alert-success">{{ flash }}</div>
			{% endfor %}

			{% for flash in app.flashes('error') %}
				<div class="alert alert-danger">{{ flash }}</div>
			{% endfor %}

			{% for flash in app.flashes('verify_email_error') %}
				<div class="alert alert-danger">{{ flash }}</div>
			{% endfor %}

			{% block body %}{% endblock %}
			<footer>
				{% block footer %}
					<p>
						Footer de Fishi Shop</p>
				{% endblock %}
			</footer>
		</div>

	</body>
</html>
