{% extends 'base.html.twig' %}

{% block title %}Edit Colors{% endblock %}

{% block body %}
    <h1>Edit Colors</h1>

    {{ include('colors/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_colors_index') }}">back to list</a>

    {{ include('colors/_delete_form.html.twig') }}
{% endblock %}
