{% extends 'base.html.twig' %}

{% block title %}Colors index{% endblock %}

{% block body %}
    <h1>Colors index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IsDeleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td>{{ color.id }}</td>
                <td>{{ color.code }}</td>
                <td>{{ color.createdAt ? color.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ color.updatedAt ? color.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ color.isDeleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_colors_show', {'id': color.id}) }}">show</a>
                    <a href="{{ path('app_colors_edit', {'id': color.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_colors_new') }}">Create new</a>
{% endblock %}
