{% extends 'base.html.twig' %}

{% block title %}New Colors{% endblock %}

{% block body %}
    <h1>Create new Colors</h1>

    {{ include('colors/_form.html.twig') }}

    <a href="{{ path('app_colors_index') }}">back to list</a>
{% endblock %}
