{% extends 'base.html.twig' %}

{% block title %}Colors{% endblock %}

{% block body %}
    <h1>Colors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ color.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ color.code }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ color.createdAt ? color.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ color.updatedAt ? color.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsDeleted</th>
                <td>{{ color.isDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_colors_index') }}">back to list</a>

    <a href="{{ path('app_colors_edit', {'id': color.id}) }}">edit</a>

    {{ include('colors/_delete_form.html.twig') }}
{% endblock %}
