{% extends 'base.html.twig' %}


{% block body %}
	<h1>Change your password</h1>

	<div class="alert alert-info" role="alert">Change your password</div>

	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary">
		<i class="fa fa-save" aria-hidden="true"></i>
		Save
	</button>
	{{ form_end(form) }}

	<div class="section">
		<a href="{{ path('user_edit') }}" class="btn btn-lg btn-block btn-danger">
			<i class="fa fa-edit" aria-hidden="true"></i>
			Edit your account
		</a>
	</div>

{% endblock %}
